<p-dialog header="New Customer" 
[(visible)]="enableform" 
[style]="{width: '50vw'}"
(onHide)="onHideDialog()">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" formControlName="firstName" class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && registerForm.controls.firstName.errors }" />
                        <div *ngIf="submitted && registerForm.controls.firstName.errors" class="invalid-feedback">
                            <div *ngIf="registerForm.controls.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && registerForm.controls.lastName.errors }" />
                        <div *ngIf="submitted && registerForm.controls.lastName.errors" class="invalid-feedback">
                            <div *ngIf="registerForm.controls.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" formControlName="userName" class="form-control" [readonly]="editMode"
                        [ngClass]="{ 'is-invalid': submitted && registerForm.controls.userName.errors }" />
                        <div *ngIf="submitted && registerForm.controls.userName.errors" class="invalid-feedback">
                            <div *ngIf="registerForm.controls.userName.errors.required">UserName is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="number" formControlName="phoneNumber" class="form-control" pattern="[0-9]+"
                        [ngClass]="{ 'is-invalid': submitted && registerForm.controls.phoneNumber.errors }" />
                        <div *ngIf="submitted && registerForm.controls.phoneNumber.errors" class="invalid-feedback">
                            <div *ngIf="registerForm.controls.phoneNumber.errors.required">PhoneNumber is required</div>
                            <div *ngIf="registerForm.controls.phoneNumber.errors.maxLength">PhoneNumber must be 10 characters</div>
                            <div *ngIf="registerForm.controls.phoneNumber.errors.minLength">PhoneNumber must be 10 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Country Code</label>
                        <select name="countryCode" id="aantal" class="form-control" selected="selectedCountryCode" (change)="onCountryCodeChange($event)">
                          <option *ngFor="let option of countryCodes" [value]="option" >{{option}}</option>
                      </select>
                    </div>
  
                    
                    <div class="form-group">
                        <button class="btn btn-primary">{{editMode? "Save":"Register"}}</button>
                        <button type="button" *ngIf="editMode" (click)="onCancel()" class="btn btn-danger">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
</p-dialog>



<div class="jumbotron" id="tabledataid_row">
  <p-table #dt1 [value]="customerDatas"
  [rows]="10" 
  [paginator]="true"
  [globalFilterFields]="['firstName','lastName','userName','phoneNumber','countryCode']"
  dataKey="id"
  [rowsPerPageOptions]="[10,25,50]">
  >
  <ng-template pTemplate="caption">
      <div class="d-flex justify-content-around">
        <h5 >Customer Details</h5>
        <span >
                    <input pInputText type="text"
                    (input)="dt1.filterGlobal($event.target.value, 'contains')"  placeholder="search..."/>
                </span>
        <button type="button" class="btn btn-success" (click)="onAddCustomer()">Add New Customer</button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
          <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            FirstName 
            <p-columnFilter type="text" field="firstName" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              LastName 
              <p-columnFilter type="text" field="lastName" display="menu"></p-columnFilter>
              </div>
            </th>
            <th>
              <div class="p-d-flex p-jc-between p-ai-center">
                UserName 
                <p-columnFilter type="text" field="userName" display="menu"></p-columnFilter>
                </div>
              </th>
          <th>PhoneNumber</th>
          <th>CountryCode</th>
          <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
        <tr>
            <td>{{customer.firstName}}</td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.userName}}</td>
            <td>{{customer.phoneNumber}}</td>
            <td>{{customer.countryCode}}</td>
            <td>
              <button pButton pRipple icon="pi pi-pencil" class="btn btn-warning" (click)="onEditCustomer(customer)">Edit</button>
              <button pButton pRipple icon="pi pi-trash" class="btn btn-danger" (click)="onDeleteCustomer(customer)">Delete</button>
            </td>
        </tr>
    </ng-template>
  </p-table>
</div>
